* {
  text-align: center;
  background-color: hsl(218, 12%, 19%);
  color: goldenrod;
  font-family: Raleway, sans-serif;
}
.form {
  font-size: 1.5vw;
  width: 75%;
  border-radius: 3px;
  border: grey 1px solid;
  margin-bottom: 10px;
}
#title {
  width: 250px;
  height: 40px;
}
#description {
  width: 250px;
  height: 150px;
}

.btn {
  font-weight: 700;
  border-radius: 3px;
  display: flexbox;
  justify-content: center;
  height: 10%;
  border: none;
  font-size: 20px;
  padding: 0.75rem;
}
#clear {
  background-color: #ff0019;
  color: white;
}
#clear:hover {
  background-color: #d82638;
}
#add {
  background-color: #19ee06;
  color: white;
}
#add:hover {
  background-color: #14bc04;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.btn-del img {
  width: 24px;
  height: 24px;
}

.btn-del {
  background-color: hsl(218, 12%, 19%);
  border: none;
}
